body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ececec;
}

header {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 172, 0);
  padding: 10px 20px;
  color: rgb(26, 26, 26);

  a {
    color: rgb(26, 26, 26);
    text-decoration: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  width: 30rem;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 1rem 0;

  input {
    border-radius: 8px;
    margin: 0;
  }
}

form button {
  padding: 10px;
  margin: 10px;
  border: none;
  width: 10rem;
  background-color: rgb(252, 172, 0);
  color: whitesmoke;
  cursor: pointer;
  border-radius: 8px;
}

main input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

img {
  border-radius: 5px;
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.randomRecipes {
  display: flex;
  flex-wrap: wrap;
  color: rgb(26, 26, 26);
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.featuredRecipe {
  display: flex;
  align-self: self-start;
  img {
    width: 450px;
    height: 400px;
  }
}

.recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2rem;
}

.recipeList {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.recipeList {
  display: flex;
  flex-direction: column;
  height: min-content;
  width: 200px;

  a {
    text-decoration: none;
    color: rgb(26, 26, 26);
  }

  img
}
