#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh; /* instead of height */
}

#recipe-image img {
  height: auto;
  width: 500px;
}

.recipe {
  display: flex;
  flex-direction: column;
  margin: 3rem 13rem;
  padding: 1rem 3rem;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.recipe-container {
  display: flex;
  flex-direction: column;
}
