#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15rem;
}

#recipe-image img {
  height: auto;
  width: 300px;
}

.recipe-container {
  display: flex;
}
